<form [formGroup]="xAxisPointForm" class="d-flex flex-fill">
    <div class="input-group align-items-center">
        <button type="button" id="btn_xAxis_{{index}}" class="btn btn-success" data-toggle="button" aria-pressed="false" (click)="tryToggle($event)">Set X-axis</button>
        <input type="number" formControlName="xValue" class="form-control" placeholder="X"/>
        <input type="number" hidden formControlName="xCoordinate" class="form-control" placeholder="X"/>
        <input type="number" hidden formControlName="yCoordinate" class="form-control" placeholder="Y"/>
        <div class="d-flex pl-2 pr-2">
            <div class="custom-control custom-checkbox d-flex ">
                <input type="checkbox" formControlName="isLogScale" class="custom-control-input" id="isLogCheckX_{{index}}">
                <label class="custom-control-label" for="isLogCheckX_{{index}}">
                    Log
                    <sub class="col-xs-1">
                        <input type="number" formControlName="logBase" class="max-width-3rem" placeholder="base"/>
                    </sub>
                </label>                
            </div>
        </div>
    </div>
</form>