  <router-outlet></router-outlet>
 <!-- <div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header text-center">Sign in</h4>
      <div class="card-body">
          <form [formGroup]="createGraphForm" (ngSubmit)="onSubmit()"> -->
              <!-- <div class="form-group">
                  <label for="username">Login</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
                  <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                      <div *ngIf="form.username.errors.required">Login is required</div>
                  </div>
              </div> -->
              <!-- <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                  <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                      <div *ngIf="form.password.errors.required">Password is required</div>
                  </div>
              </div> -->
              <!-- <div class="form-group">
                <label for="id">id</label>
                <input type="number" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.id.errors }" />
                <div *ngIf="submitted && form.id.errors" class="invalid-feedback">
                    <div *ngIf="form.id.errors.required">Id is required</div>
                </div>
              </div>
              <div formArrayName="graph.subgraph">
                <div class="form-group" *ngFor="let subgraph of createGraphForm.controls['graph.subgraph']['controls']; let i = index">
                  <div class="form-group">
                    <label for="name">Subgraph name</label>
                    <input type="text" class="form-control" formControlName="name" />
                  </div>

                    <label for="interpolationType">Interpolation Type</label>
                    <input class="form-control" formControlName="interpolationType" /> -->

                    <!-- <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="interpolationType">Interpolation type</label>
                      </div>
                      <select class="custom-select" formControlName="interpolationType">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div> -->
                <!-- </div>
              </div>
              <button [disabled]="loading" class="btn btn-outline-primary btn-block rounded-pill">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div> -->