<div class="container">
  <form [formGroup]="subgraphForm" class="d-flex flex-column">

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="interpolationType">Interpolation type</label>
      </div>
      <select class="custom-select" formControlName="interpolationType" (ngModelChange)="onChange($event)">
        <option *ngFor="let type of interpolationType | keyvalue" [ngValue]="type.value">{{type.key}}</option>
      </select>
    </div>

    <input hidden formControlName="id" placeholder="0">

    <input formControlName="name" placeholder="Name">

    <input hidden formControlName="knots" placeholder="Knots">

    <input hidden formControlName="coordinates" placeholder="Coordinates">

    <!-- emit delete event up w/ index of subgraph -->
    <!-- <button (click)="delete()">Delete</button> -->

    <pre>Subgraph Form Status: <span class="status">{{subgraphForm.status}}</span></pre>
  </form>
</div>